<!doctype html>

<html lang="en">


<head>
    <meta charset="UTF-8">
	
    <link rel="stylesheet" href="../static/mazecss.css">
    <script src="../static/mazejs.js"></script>

    <title>Leaderboard</title>
</head>


<body>

    <div id="stalactites"></div>
	

	<div id="finishForm">
        <div>
            <p id="congratulations">Leaderboard</p>
        </div>

        <div>
            <table>

                <col id="columOne">
                <col id="columnTwo">
                <col id="columnThree">

                <tr>
                    <th>Username</th>
                    <th>Time Taken</th>
                    <th>Moves Made</th>
                </tr>

                {%for index in range(leaderboard|length)%}
                <tr>
                    <td>{{ leaderboard[index]["username"] }}</td>
                    <td>{{ leaderboard[index]["time"] }}</td>
                    <td>{{ leaderboard[index]["moves"] }}</td>
                </tr>
                {%endfor%}

            </table>
        </div>

        <a href="/home">
        <button type="button">
            Home
        </button>
        </a>
        
    </div>


    <div id="stalagmites">
        <p>Gavin Angus</p>
    </div>

</body>


</html>