body{
    background-color: black;
    color:white;
    font-family: "Monaco", "Courier New", monospace;
    margin:0
}



/* Colours */
input[type="submit"], button{
    background-color: black;
    color:white
}
input[type="submit"]:hover, button:hover, .option{
    background-color: white;
    color:black
}
.option:hover{
    background-color: #91f291
}
#stalagmites{
    color:black
}
tr:nth-child(even) {
    background-color: #001323;
}



/* Dimensions */
#mazeGrid{
    width:60%
}
.room, #spacebar, table{
    width: 100%
}
.controls, #finishForm{
    width:65%
}
.controls img{
    height:80%
}
#spacebar img{
    height:65%
}
.controls p{
    height:40%
}
.statBody{
    height: 1.5em
}
#time-movement .statBody{
    width:80%
}
.statBody, #gameForm, #gameResults{
	width:90%
}
#gameForm div, #columnOne{
	width: 50%
}
#stalactites, #stalagmites{
    height:220px
}
#parallax1{
    min-height:1000px
}
#parallax2{
    min-height:800px;
}
.option{
	width: 70%
}
.optionText p, #finishForm div{
    width:85%
}
#columnTwo, #columnThree{
    width:25%
}



/* Paddings, Margins and Borders */
#mazeGrid,.controls,.controls img, #gameForm div, .option{
    margin:auto
}
#finishForm div{
    margin-left:auto;
    margin-right:auto
}
#mazeGrid, #controls, #gameForm{
    margin-top:10%
}
.room{
    padding-top: 100%
}
.controls p{
    margin:0;
    padding-top:7%
}
#spacebar p{
    margin-left:6%;
    padding-top:9%
}
.gameStat, #finishFormInputs, button, table{
    margin-top: 5%
}
.statHeading{
    margin:1%
}
.statBody{
    border-radius:0.3em
}
.statBody p{
    margin:0.2em 0.5em
}
.statBody, input[type="submit"], button{
    border: 2px solid white
}
input[type="submit"], button{
    padding: 0.5em 2em;
    border-radius:0.3em
}
#menuOptions{
    margin: 0 15%
}
.option{
    padding-top:70%;
    border-radius:1.5em
}
#finishForm{
    margin:4% auto;
	border: 5px solid white;
    border-radius: 1em;
    padding: 3% 0
}
#congratulations{
    margin: 1% 0
}
#gameResults{
    margin: 0 auto
}
#finishFormInputs{
	padding-bottom: 2%;
	border-top: 2px solid white;
	border-bottom: 2px solid white
}
#warning{
	margin-bottom:0
}
th{
    border-bottom: 2px solid white
}
th, td{
    padding: 0.3em
}



/* Positions and Transitions */
.option, #stalagmites{
    position:relative;
    transition: background-color 0.2s
}
.optionHeading, .optionText, #stalagmites p{
    position: absolute
}
.optionHeading, .optionText{
    left:7%
}
.optionHeading{
    top:18%
}
.optionText{
    top:42%
}
#stalagmites p{
    top: 73%;
    left: 9.5%
}



/* Display */
directions, header, #gameFormSubmit, .optionText, #usernameInput, #warning{
    display:none
}
#mainMazeDisplay, #mazeGrid, .controls, #time-movement, #menuOptions{
    display:grid
}



/* Miscellaneous */
#mainMazeDisplay{
    grid-template-columns: 5fr 3fr
}
#mazeGrid{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr
}
.controls{
    grid-template-columns: 1fr 3fr
}
#time-movement, #menuOptions{
    grid-template-columns: 1fr 1fr
}
.controls p{
    font-size: 150%
}
.statHeading{
    font-size: 170%
}
.statBody, th{
    font-size: 180%
}
input[type="submit"], button{
    font-size: 200%
}
.optionHeading{
    font-size: 300%
}
.optionText{
    font-size: 140%
}
input, label, button, .option{
	cursor:pointer
}
#stalactites{
    background-image: url("media/stalactites.png")
}
#stalagmites{
    background-image: url("media/stalagmites.png")
}
#stalactites, #stalagmites{
    background-repeat: repeat-x;
    background-size: 50% 100%
}
.parallax{
    background-image: url("media/caveCrawlerLogo.png")
}
#menuOptions{
    background-image: url("media/caveCrawlerLogoBlurred.png")
}
.parallax, #menuOptions{
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover
}
#stalagmites p{
    font-size: 110%
}
#finishForm{
    text-align: center
}
#congratulations{
    font-size: 400%;
    font-weight: bold
}
#gameResults, #finishFormInputs, td{
    font-size:120%
}
table{
    border-collapse: collapse
}