<!doctype html>

<html lang="en">


<head>
    <meta charset="UTF-8">
	
    <link rel="stylesheet" href="../static/mazecss.css">
    <script src="../static/mazejs.js"></script>

    <title>Cave Crawler</title>
</head>


<body>
    <div id="stalactites"></div>

    <div id="parallax1" class="parallax"></div>

    <div id="menuOptions">

        <div class="option" onmouseover="optionChange(this)" onmouseout="optionRevert(this)">
            <p class="optionHeading">Start Game</p>
            <div class="optionText">
                <p>
                    Play through a series of 5 randomized mazes in as little time as possible. The exit will be at a random corner of the maze. 
                </p>
            </div>
        </div>

        <div class="option" onmouseover="optionChange(this)" onmouseout="optionRevert(this)">
            <p class="optionHeading">Leaderboard</p>
            <div class="optionText">
                <p>
                    See the top results of other people who have played Cave Crawler. 
                </p>
            </div>
        </div>

    </div>

    <div id="parallax2" class="parallax"></div>

    <div id="stalagmites">
        <p>Gavin Angus</p>
    </div>

</body>


</html>