<!doctype html>

<html lang="en">


<head>
    <meta charset="UTF-8">
	
    <link rel="stylesheet" href="../static/mazecss.css">
    <script src="../static/mazejs.js"></script>

    <title>Leaderboard</title>
</head>


<body>

    <div id="stalactites"></div>
	

	<div id="finishForm">
        <div>
            <p id="congratulations">Leaderboard</p>
        </div>

        <div>
            <table>

                <col id="columOne">
                <col id="columnTwo">
                <col id="columnThree">

                <tr>
                    <th>Username</th>
                    <th>Time Taken</th>
                    <th>Moves Made</th>
                </tr>
                <tr>
                    <td>gavA</td>
                    <td>28.6</td>
                    <td>143</td>
                </tr>
                <tr>
                    <td>Mr Yeast</td>
                    <td>31.0</td>
                    <td>164</td>
                </tr>
                <tr>
                    <td>Canyae Ouest</td>
                    <td>37.9</td>
                    <td>150</td>
                </tr>
                <tr>
                    <td>This Name Has 25 Letters!</td>
                    <td>25.2</td>
                    <td>113</td>
                </tr>
                <tr>
                    <td>lmao</td>
                    <td>45.1</td>
                    <td>180</td>
                </tr>
            </table>
        </div>

        <a href="homePage - test environment.html">
        <button type="button">
            Home
        </button>
        </a>
        
    </div>


    <div id="stalagmites">
        <p>Gavin Angus</p>
    </div>

</body>


</html>